body {
  backgroundimage: url("/background.webp");
  background-size: "cover";
  background-position: "center 10%";
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: start;
}